/*Imagen Grande Con Texto*/
header{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.content-wrapper img{
	width: 100%;
	height: 100%;
}

.text-wrapper{
	width: 100%;
	position: relative;
	margin-top: -45%;
}

.text-wrapper h1{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	color: #F5FFFA;
	font-size: 12vw;
}

/*Imagen Grande Con Texto*/

/*Timeline*/

.timelinee {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	font-family: 'Philosopher', sans-serif;
	color: #F5FFFA;
	font-size: 22px;
	background-image: url(../images/pexels-eva-elijas-6166013.jpg);
}

.timelinee::before {
	position: absolute;
	content: "";
	display: block;
	width: 0.4rem;
	height: 100%;
	background: #c9ada7;
	z-index: 1;
}

.itemm {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "content-left image content-right";
	align-items: center;
	position: relative;
	z-index: 2;
}

.itemm + .itemm {
	margin-top: 4rem;
}

.wrapp {
	grid-area: content-left;
	padding: 1rem;
	max-width: 25rem;
}

.itemm:nth-child(even) .wrapp {
	grid-area: content-right;
}

.imgg {
	width: 15rem;
	height: 15rem;
	background: #4a4e69;
	border: 0.5rem solid #9a8c98;
	border-radius: 50%;
	grid-area: image;
	overflow: hidden;
}

.imgg > .imgg {
	width: 100%;
	height: auto;
}

/*Timeline*/

/* navbar */

.navbar{
	font-size: 21.1px;
	background-color: #C27BA0;
  }
  
  .nav-item{
	color: black;
	font-family: 'Philosopher', sans-serif;
  }
  
  /* navbar */

/*3 imágenes*/

ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
  }
  
  li {
	height: 45vh;
	flex-grow: 1;
  }
  
  li:last-child {
	 flex-grow: 10;
  }
  
  .tres{
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
  }
 
  /*3 imágenes*/
  